<h2>
  You are invited to join the team
</h2>

<p>Please use the following link to join</p>

<p>
  <.link href={@url} class="btn-primary">Click to join</.link>
</p>

<p>You can disregard this email if you think it was sent to you by mistake.</p>
