<aside class="w-64 bg-gray-100 h-full p-4">
  <nav>
    <ul>
      <li><.link href={~p"/dashboard"} class="block p-2">Dashboard</.link></li>
      <li><.link href={~p"/settings"} class="block p-2">Settings</.link></li>
    </ul>
  </nav>
</aside>

